<h1 style="color: rgb(52, 25, 230); text-align:center;">Adhoc Refill</h1>
<table class="table table-borderless">
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>Quantity</td>
        <td><input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Location</td>
        <td><input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="2">Payment Status &nbsp; <input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
        <td></td>
      </tr>
    </tbody>
  </table>


  