<table class="table table-sm">
    <thead>
        <tr>
            <th>Recycle Occurance</th>
            <th>Subscription Status</th>
            <th>Location</th>
            <th>Subscribed On</th>
            <th>Drug Name</th>
            <th>Quantity</th>
            <th>Unsubscrib</th>
            <th>Request Refill</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Monthly</td>
            <td> ----- </td>
            <td>Chennai</td>
            <td>2020-09-16</td>
            <td>Paracetamol</td>
            <td>10</td>
            <td><button type="button" class="btn btn-primary">Unsubscribe</button></td>
            <td><button type="button" class="btn btn-primary">Request Refill</button></td>
 
        </tr>         
    </tbody>
</table>            
