<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img class="img-fluid"  src="assets/images/logo.png"  alt="First slide" width=190>
  &nbsp;<a class="navbar-brand" href="/login">Login</a>
  &nbsp;<a class="navbar-brand" href="/home">View Drug</a>
  &nbsp;<a class="navbar-brand" href="/availiblity">Availiblity</a>
  &nbsp;<a class="navbar-brand" href="/search-drug">Search Drug</a>
  &nbsp;<a class="navbar-brand" href="/subscribe">Subscribe</a>
  &nbsp;<a class="navbar-brand" href="/subscription-status">Subscription Status</a>
  &nbsp;<a class="navbar-brand" href="/adhoc-refill">Adhoc Refill</a>
  &nbsp;<a class="navbar-brand" href="/refill-status">Refill Status</a>
  &nbsp;<a class="navbar-brand" href="/refill-due-date">Refill Due Date</a>
  
  <a class="navbar-brand" href="/home">Logout</a>

</nav>


<!--<app-home></app-home>-->
<!--<app-view-drug></app-view-drug>-->
<!--<app-adhoc-refill></app-adhoc-refill>-->
<!--<app-refill-dues-date></app-refill-dues-date>
<app-subscribe></app-subscribe>-->
<router-outlet></router-outlet>
<footer>
   
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="">MailOrderPharmacy Ltd</a>
 
  </div>
  <!-- Copyright -->
 
</footer>