<h1 style="color: darkslateblue; text-align:center;">Prescription Details</h1>
<table class="table table-borderless">
    <tbody>
        <tr>
            <th scope="row"></th>
            <td>Insurance Provider:</td>
            <td><input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td>Medicine Name:</td>
            <td><input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td>Policy Number:</td>
            <td><input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td>Dosage Definitions:</td>
            <td><input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td>Doctor Name:</td>
            <td><input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td>Quantity:</td>
            <td><input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td>Prescription Date:</td>
            <td><input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td>Course Duration:</td>
            <td><input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td>Your Location:</td>
            <td><input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"></td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td>.</td>
            <td><button type="submit" class="btn btn-primary">Submit</button>
        </tr>

    </tbody>


    