<h1 style="color: darkslateblue; text-align:center;">Refill Dues Date</h1>
<table class="table table-borderless">
    <tbody>
        <tr>
            <th scope="row"></th>
            <td>Subscription Id:</td>
            <td><input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"></td>

        </tr>
        <tr>
            <th scope="row"></th>
            <td>From Date: </td>
            <td><input type="date" required="required" name="date" class="form-control" id="exampleFormControlInput1"
                    placeholder="name@example.com"></td>

        </tr>

        <tr>
            <th scope="row"></th>
            <td>.</td>
            <td><button type="submit" class="btn btn-primary">Submit</button>
        </tr>






    </tbody>
</table>


